*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    margin-bottom: 15px;
    text-transform: uppercase;
}

/* Cabeçalho */
header{
    background-image: url('imagens/fundo-topo.jpg');
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid black;
}
header h1{
    margin:0;
    height: 84px;
}
a{
    text-decoration: none;
    color: black;
}
/* Menu */
nav{
    padding: 15px 0;
    text-align: center;
}
nav li{
    display: inline;
    background-image: url(imagens/patinha-preta.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 27px;
    margin-right: 10px;
}
nav a{
    color: black;
    text-decoration: none;
}
nav a:hover{
    background-color: black;
    color: #6dd432;
    padding: 5px;
    border-radius: 10px;
    transition-delay: 2ms;
}

/*Sobre*/
.fundo-verde{
    background-color: #bdff9c;
}
.container{
    width: 900px;
    margin: 0 auto;
    padding: 56px 0;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flex-container .col{
   width: 430px;
}

/*Produtos*/
.texto-centralizado{
    text-align: center;
}
.produto{
    width: 235px;
}
.produto figure{
    border: 1px solid #c4c4c4;
    background-color: #fff;
    margin-top: 15px;
    text-align: center;
    line-height: 160px;
    padding: 0;
}
.produto figure img{
    vertical-align: middle;
}
.btn-pata{
    border: 1px solid #91e467;
    background-color: #d2fbbd;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}
.container p{
    margin-bottom: 10px;
}
#produto .flex-container, #contato .flex-container{
    margin-top: 43px;
}

/*Contato e Formulários*/
form{
    width: 380px;
}
form input, form textarea{
    width: 100%;
    border: 1px solid #6dd432;
    padding: 10px;
    margin: 5px 0 10px 0;
}

/*Footer*/
footer{
    text-align: center;
    background-color: #91e467;
    border-top: 1px solid black;
}